# Ignore every file with an extension, anywhere in the repo
*.log
*.tmp
*.pyc

# Ignore OS junk
.DS_Store
Thumbs.db

# folders
LinAlg4DataScience/
chp-16/
chp_01/
chp_02/
chp_03/
chp_04

# no folders
requests/
